<html>
  <head>
  </head>
  <body>
    {% if working_item %}
      Currently is Wroking on: {{ working_item }}!
    {% else %}
      Hello guest! 
    {% endif %}
      <input id="button1" type="submit" name="button1" onclick="myFunctionDone();" value="Done"/>
      <input id="button2" type="submit" name="button2" onclick="myFunctionPartial();" value="View Partial Report"/>
  </body>
</html>


<script>
  function myFunctionDone(){
    $.ajax({
        url: '{{ working_item }}',    //Your api url
        type: 'PUT',   //type is any HTTP method
        data: {
            data: '1'
        },      //Data as js object
        success: function () {
            alert("Done!");
        }
    });
  };   
  function myFunctionPartial(){
      alert("View Partial Report!");
  };   
</script>